extends layout

block content
  h1= title
  - var results = rabbit;
  div(class="container-fluid")
    each value,index in results
      div(class="row" ,onclick=`buy(${index})`)
        div(class="col-sm-2") #{value.rabbit_Name}
        div(class="col-sm-2") #{value.rabbit_Price}
        div(class="col-sm-2") #{value.rabbit_gender}

  script. 
        function buy(price){
          alert('you purchased item ' + price)

        }    